/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300&display=swap');

body{
    font-family: 'Roboto', sans-serif !important;
    background-color: #fcebe7 !important;
}

.contact-img{
    width: 150px;
    border-radius:50%;
    -webkit-border-radius:50%;
    -moz-border-radius:50%;
    -ms-border-radius:50%;
    -o-border-radius:50%;
}
.contact-image-big{
    width: 200px;
    border-radius:50%;
}